.body { 
 
  box-sizing: border-box;
  background-color: white;
  font-family: "lato", sans-serif;

}
.bg {  
 position: absolute;
 top: 100px;
 left: 50%; 
 width: 50%; 
 height:50%;
 background-image: url('background.png');
 background-position: 0 0; 
 background-repeat:no-repeat; 
 background-size: cover;

}





.form-container {
  display: flex;
  justify-content: center;
  background-size: cover;
  position: fixed;
  min-height: 5px;
  padding: 24px;
margin-top: 100px;
}


.my-form {
  background-color: #fff;
  padding: 16px;
}

.form-header {
  text-align: center;
  padding: 0;
  margin-top: 0;
  font-size: 2em;
  color:black;
}

.form-group {
  margin-bottom: 1rem;
  
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}


.form-text {
  color:black;
  margin-left: 40px;
  font-size: 80%;
  font-weight: 40;
  
}

.btn {
  display:block;
  width: 200px;
  font-weight: 400;
  color:white;
  cursor: pointer;
  text-align: center;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  background-color: #007bff;
  margin-left: 45px;
}


.item {
    margin-top:40px;
    margin-left:30px;
    
    
    

}